<div class="container">
  <div class="row">
    <div class="col s12 center">
      <%= render partial: "application_details" %>
      <br>

      <!-- Button for editing application -->
      <div class="button"><%= link_to 'Update Application', edit_job_listing_path(@application.job_listing_id), :class => 'btn waves-effect waves-light cyan lighten-3' %></div>
  </div>
  </div>
</div>