<div class="container">
  <div class="row">
    <div class="col s12 center">
    	<br>
		<h2>
			Welcome To JobHacks. 
			<br>
			Hire Meow!
		</h2>
		<p>
			Log in with your LinkedIn account below or <%= link_to "sign up here", signup_path %> to start simplifying your job search now!
		</p>
	</div>
</div>