<div class="container">
  <div class="row">
    <div class="col s12 center">
		<%= image_tag 'jobhacks2.png', class: "center" %> 
<!-- 		<p>
			Log in with your LinkedIn account below to start simplifying your job search now!
			<br>
			<script type="in/Login"></script>
		</p> -->
	</div>
</div>