<div class="container">
  <div class="row">
    <div class="col s12 center">
		<%= inline_svg("jobhacks.svg") %>
		</h2>
		<p>
			Log in with your LinkedIn account below or <%= link_to "sign up here", signup_path %> to start simplifying your job search now!
		</p>
		<a class="waves-effect waves-light btn cyan lighten-3" id="linkedinButton">Link Me In Yo</a>
	</div>
</div>