<div class="container">
  <div class="row">
    <div class="col s12 center">
		<%= image_tag 'jobhacks2.png', class: "center" %> 
		<p>
			Log in with your LinkedIn account below or <%= link_to "sign up here", signup_path %> to start simplifying your job search now!
		</p>
	</div>
</div>