<div class="container">
  <div class="row">
    <div class="col s12 center">
		<%= image_tag 'jobhacks2.png', class: "center" %> 
		<p class="introduction">
			Log in with your LinkedIn account below or <%= link_to "sign up here", signup_path %> to start simplifying your job search process now!
			<br><br>
			<a href="#" id="logInImage"><%= image_tag 'linkedin-button.png', class: "center" %></a>
		</p>
	</div>
</div>