<div class="container">
  <div class="row">
    <div class="col s12 center">
        <br>
        <h2>
            About JobHacks
        </h2>
        <p>
            Ever wish you could keep track of all your job applications and interested companies all in one easy to access app? JobHacks is the solution for you!
            <br><br>
            Simply register with your LinkedIn account, search for companies, and start saving your job applications/interests today!
        </p>
    </div>
  </div>
</div>