<hr class="fancy">
<br>

<div id="footer">
	<%= link_to 'Home', home_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
	<%= link_to 'About JobHacks', about_path %>
	<br /><br />
	<div id="copy">
		JobHacks: A MHacks 6 project by Ally Sorge and Maggie Yu.
		<br>
		&nbsp;&copy September 2015
	</div>
</div>